doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/fontawesome/font-awesome.min.css')
  body(ng-app='chatApp', ng-controller='chatController')
    block content
    include scripts.jade
