script(src='lib/jquery/jquery-1.12.4.min.js')

script(src='lib/bootstrap/bootstrap.min.js')

script(src='lib/angular/angular.min.js')

script(src='lib/socket/socket.io-1.4.5.js')

script(src='js/client.js')
